

<br><br>
<div class="col-lg-7 col-md-7">
    <h3 class="text-primary"><font color="green">Login:</font></h3>
    <br>

   
    <form [formGroup]="loginForm" (ngSubmit)="verifyLogin()">
        <div class="form-group">
            <label for="mobileNo">Mobile number : </label>
            <input type="number" class="form-control" formControlName="mobileNo" placeholder="Enter Mobile Number"/>

            <div *ngIf="submitted && loginForm.controls.mobileNo.errors" class="error">
                    <div class="text-danger" *ngIf="loginForm.controls.mobileNo.errors.required">
                        Mobile No is required
                    </div>
                    <div class="text-danger" *ngIf="loginForm.controls.mobileNo.errors.pattern">
                        Please enter only valid mobile number
                    </div>
                </div>

        </div>  <!-- End Of email -->


        <div class="form-group">
            <label for="password">Pin : </label>
            <input type="password" class="form-control" formControlName="walletPin" placeholder="Enter Pin here"/>
            <!-- *ngIf, *ngFor, *ngSwitch -->
            <div *ngIf="submitted && loginForm.controls.walletPin.errors" class="error">
                <div class="text-danger" *ngIf="loginForm.controls.walletPin.errors.required">
                    Pin is required
                </div>
                <div class="text-danger" *ngIf="loginForm.controls.walletPin.errors.pattern">
                    Please enter only digits
                </div>
                

            </div>
        </div>  <!-- End Of walletPin -->

        <button class="btn btn-success">login</button> &nbsp;
        
        

        
        
                <div class="text-danger" *ngIf="invalidLogin">
                        Invalid Email or Password
                </div>

        
    </form>
</div>